//import './theme';

.search {
  background: none;
  border: none;
  border: 1px solid rgb(76, 76, 119);
  width: 180px;
  padding-bottom: 4px;
  text-align: center;
  outline: none;
  height: 40px;
  font-size: 0.8rem;

  &::placeholder {
    color: rgb(59, 51, 73);
  }
}

.listContainer {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.resultItem {
  margin: 20px;
  font-size: 1rem;
  text-align: center;
  border: 2px solid rgb(15, 15, 34);
  padding: 10px;
  border-radius: 0.4rem;
  background: rgb(74, 133, 189);

  &:hover {
    background-color: rgb(142, 163, 221);
  }

  &:active {
    background-color: rgb(72, 39, 192);
  }
}
