@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

.header {
  height: 40px;
  margin: 30px;
  font-family: 'Trade Winds', cursive;
  text-align: center;
}

.main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
