@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

.header {
  height: 40px;
  margin: 10px;
  margin-bottom: 20px;
  font-family: 'Trade Winds', cursive;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: auto;
  flex-grow: 1;
}

.logo {
  width: 60px;
  margin: 20px;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  margin: 10px;
  width: 100%;
}
